:root {
    --Pal1: #03043f;
    --Pal2: #1b417d;
    --Pal3: #406c8c;
    --Pal4: #76a6b1;
    --Pal5: #d7d9e0;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--Pal1);
    color: white;
}

.container {
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100vh;
}

.headerMenu {
    width: auto;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: right;
    justify-content: space-evenly;
    gap: 380px;
    padding: 10px;
    overflow: hidden;
    background-color: #0d316b81;
    backdrop-filter: blur(5px);
}

.headerMenu img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.headerMenu button {
    height: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    color: white;
    border: none;
    justify-content: space-between;
}

.NavIcons {
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    width: 350px;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
}

.logo {
    width: 50px;
    height: 50px;align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HomeTitle {
    font-style: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 70px;
    color: var(--Pal);
    width: 350px;
}